mixin input(text,type)
  if(type == 'phone')
    .input__cont.input__phone(data-input=text)
      input.input__this.input__this-phone(id='phone')

  else if(type == 'password')
    .input__cont(data-input=text)
      input.input__this(type='password')

  else
    .input__cont(data-input=text)
      input.input__this
