.input
  display: block
  &__cont
    position: relative;
    padding-top: 13px;

  &__cont:before
    content: ' ' attr(data-input);
    font-size: 12px;
    color: #868686;
    position: absolute;
    top 16px
    left: 10px;
    transition 0.3s
  
  &__this
    height: 24px;
    width: 360px;
    font-family: RobotoRegular;
    font-size: 12px;
    color: #000;
    border:none
    outline:none
    border-bottom:1px solid #868686
    padding-bottom: 5px;
    padding-left: 5px;
    position: relative;
    z-index: 11;
    background-color: transparent;
    
    
  &__cont.focused:before
    font-size: 9px;
    left: 0;
    top:0px;

  &__cont.complete:before
    font-size: 9px;
    left: 0;
    top:0px;
    
  