.button
  background-color: #e75555;
  border-radius 20px
  width: 120px;
  text-align: center
  font-family: RobotoRegular;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase
  outline: none
  padding: 0;
  border:none
  height: 32px;
  cursor: pointer;
  transition:0.3s
  
  
  &__sms
    color: #e85555;
    font-size: 11px;
    text-transform: uppercase
    text-align: center
    border:1px solid #e85555;
    outline:none;
    background-color: transparent;
    width: 140px;
    border-radius 20px
    height: 24px;
    padding: 0;
    cursor: pointer;
    font-family: RobotoRegular;
    font-size: 12px;
    
  &__sms:hover
    opacity: 0.8;
    
    
  &__akk
    text-transform: none;
    font-size: 10px;
    width: 130px;
    line-height: 23px;

  &__akk:before
    content: '\e90c'
    font-family: 'icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    display: inline-block
    margin-right: -2px;
    float: left;
    margin-left: 10px;
    

  
a.button
  line-height: 32px;
  display: inline-block
  text-decoration: none
  
  
.button:hover
  opacity: 0.85;
  
  