.cart
  background-color: #fff;
  display: block
  height: 48px;
  line-height: 48px;
  position: relative;
  width: 100%;
  font-family: RobotoRegular;
  font-size: 12px;
  text-align: center
  text-transform: uppercase
  cursor: pointer;


  &__text
    display: inline-block
    color: #e30000;
    transition 0.3s
    font-family: RobotoMedium;
    
  &__text:before
    content: '\e909'
    font-family: 'icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block
    margin-right: 17px;
    font-size: 17px;
    float: left;
    margin-top: 0px;
    color #e85555
    
  &__count
    display: inline-block
    margin-left: 7px;

  &__count:after
    content: 'позиций'
    display: inline-block
    margin-left: 3px;

  &__cost
    display: inline-block

  &__cost:before
    content 'на'
    display: inline-block
    margin-right: 3px
    margin-left: 3px;

  &__cost:after
    content: 'Р.'
    display: inline-block
    margin-left: 3px
    
    
.cart:hover
  opacity: 0.97;
  
  //.cart__text
  //  color: #94df2d;



    




  
  