.footer
  background-color: #191919;
  font-family: RobotoLight;
  font-size: 14px;
  color: #ffffff;


  &__cont
    cf()
    
  &__copyright
    float: left;
    line-height: 50px;

  &__button
    float: right
    padding-top: 9px;