mixin footer
  .footer
    .layout__inner
      .footer__cont
        .footer__copyright
          | all rights reserved copyright © 2017

        .footer__button
          button.button.button__logout
            | выйти
