.logo
  display: inline-block
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fefefe
  text-decoration: none
  font-size: 110px;
  line-height: normal;
  cursor: pointer;

.logo:before
  content: '\e907'
  
.logo:hover
  color: #ffd900;
