.header
  background-color: #191919;
  height: 120px;
  
  &__cont
    cf()
    
  &__logo
    float: left;
    margin-top: 5px;

  &__date
    float: left;
    font-family: RobotoLight
    font-size: 35px;
    line-height: normal
    color: #ffffff;
    margin-top: 43px;
    margin-left: 83px;
    width: 140px;

    &-item
      position: relative;

  &__date-item:before
    content: ' ' attr(data-month);
    font-family: RobotoLight;
    font-size: 14px;
    position: absolute;
    left: 45px;
    top: 3px

  &__date-item:after
    content: ' ' attr(data-day);
    font-family: RobotoLight;
    font-size: 12px;
    position: absolute;
    left: 45px;
    top: 22px


  &__title
    float: left;
    width: 200px;
    text-align: right
    color: #ffffff;
    font-family: RobotoLight;
    text-transform: uppercase
    font-size: 14px;
    margin-top: 54px;
    cursor: pointer;
    text-decoration: none
    
  &__title:hover
    color: #FFD905
    
    
  &__cart
    width: 360px;
    float: left;
    margin-left: 51px;
    margin-top: 36px;


  &__login
    float: right
    margin-top: 44px;



    
  