mixin header(type)
  if(type == 'type_1')
    .header
      .layout__inner
        .header__cont
          .header__logo
            +logo

          .header__date
            .header__date-item(data-month='февраля' data-day='воскресенье')
              | 16

          a.header__title(href='/menu.html')
            | МЕНЮ НА НЕДЕЛЮ

          .header__cart
            +cart

          .header__login
            a.button.button__akk(href='/persona.html')
              | Личный кабинет

  else
    .header
      .layout__inner
        .header__cont
          .header__logo
            +logo

          .header__date
            .header__date-item(data-month='февраля' data-day='воскресенье')
              | 16

          a.header__title(href='/menu.html')
            | МЕНЮ НА НЕДЕЛЮ

          .header__cart
            +cart

          .header__login
            button.button.button-login
              | Войти
