mixin layout(page)
  .layout
    if(page == 'home')
      .layout__page
        +header
        +hero
        +menu
        +order
        .page-buffer
      +footer
    else if(page == 'menu')
      .layout__page
        +header('type_1')
        +weekly
        .page-buffer
      +footer
    else if(page == 'persona')
      .layout__page
        +header('type_1')
        +persona
        .page-buffer
      +footer

    else if(page == 'detail')
      .layout__page
        +header('type_1')
        +detail
        .page-buffer
      +footer