.layout
  display: block
  height: 100%;
  
  &__inner
    width: 1178px;
    padding: 0 20px;
    margin: 0 auto;
    
  &__page
    min-height:100%
    margin-bottom: -50px;
    
  .page-buffer
    height: 50px;