// Common styles of the project
maket(false, home)

*
*:before
*:after
  box-sizing border-box

html
  height 100%
  font-family ff_p
  font-size 62.5%
    
body
  height 100%
  font-size 1.6rem
  font-weight 400
  color: black
  background-color #F7F7F7
  min-width:1280px
  
  
  
  .error-this
    color: #e50329 !important;
    border-color #e50329 !important;
    
    
.body-white
  background-color: #fff;


body.lock
  overflow hidden
  +media('phone')
    position: fixed;
  
  
.error
  .input__cont:before
    color:#e75555
  input
    border-color: #e75555 !important
    
  .input__phone:before
    content: 'Номер телефона введен некорректно'


  