@font-face {
    font-family: 'icon';
    src:    url('../fonts/icon.eot?j42k4d');
    src:    url('../fonts/icon.eot?j42k4d#iefix') format('embedded-opentype'),
    url('../fonts/icon.ttf?j42k4d') format('truetype'),
    url('../fonts/icon.woff?j42k4d') format('woff'),
    url('../fonts/icon.svg?j42k4d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/RobotoLight.eot');
  src:    url('../fonts/RobotoLight.eot?j42k4d#iefix') format('embedded-opentype'),
  url('../fonts/RobotoLight.ttf');
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/RobotoRegular.eot');
  src:    url('../fonts/RobotoRegular.eot?j42k4d#iefix') format('embedded-opentype'),
  url('../fonts/RobotoRegular.ttf');
}

@font-face {
  font-family: 'RobotoCondensedBold';
  src: url('../fonts/RobotoCondensedBold.eot');
  src:    url('../fonts/RobotoCondensedBold.eot?j42k4d#iefix') format('embedded-opentype'),
  url('../fonts/RobotoCondensedBold.ttf');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/RobotoMedium.eot');
  src:    url('../fonts/RobotoMedium.eot?j42k4d#iefix') format('embedded-opentype'),
  url('../fonts/RobotoMedium.ttf');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/RobotoBold.eot');
  src:    url('../fonts/RobotoBold.eot?j42k4d#iefix') format('embedded-opentype'),
  url('../fonts/RobotoBold.ttf');
}

@font-face {
  font-family: 'RobotoBlack';
  src: url('../fonts/RobotoBold.eot');
  src:    url('../fonts/RobotoBold.eot?j42k4d#iefix') format('embedded-opentype'),
  url('../fonts/RobotoBlack.ttf');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/RobotoBold.eot');
  src:    url('../fonts/RobotoBold.eot?j42k4d#iefix') format('embedded-opentype'),
  url('../fonts/RobotoBold.ttf');
}

@font-face {
  font-family: 'RobotoThin';
  src: url('../fonts/RobotoLight.eot');
  src:    url('../fonts/RobotoLight.eot?j42k4d#iefix') format('embedded-opentype'),
  url('../fonts/RobotoThin.ttf');
}

@font-face {
  font-family: 'RUBSN';
  src: url('../fonts/RUBSN.eot');
  src:    url('../fonts/RUBSN.eot?j42k4d#iefix') format('embedded-opentype'),
  url('../fonts/RUBSN.ttf');
}

@font-face {
  font-family: 'PTMonoRegular';
  src: url('../fonts/PTMonoRegular.eot');
  src:    url('../fonts/PTMonoRegular.eot?j42k4d#iefix') format('embedded-opentype'),
  url('../fonts/PTMonoRegular.ttf');
}

@font-face {
    font-family: 'icon-1';
    src:    url('../fonts/icon-1.eot?j42k4d');
    src:    url('../fonts/icon-1.eot?j42k4d#iefix') format('embedded-opentype'),
    url('../fonts/icon-1.ttf?j42k4d') format('truetype'),
    url('../fonts/icon-1.woff?j42k4d') format('woff'),
    url('../fonts/icon-1.svg?j42k4d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}