// GUI stylies of the project
// For example, styles of the links, buttons and so on.

btnColor_red    = #b03030
btnColor_pink   = #ef5455
btn_font_size   = font_size_l
input_font_size = font_size_l

.btn
  display: inline-block
  vertical-align: top
  min-width 170px
  height 53px
  padding 0 20px
  color white
  font-size btn_font_size
  font-weight 400
  border none
  background-color #aaa
  text-decoration: none
  text-align: center
  margin: 0
  outline none
  
  a&
    line-height @height

  &_color
    &_red
      background-color btnColor_red
    &_pink
      background-color btnColor_pink
      
  &_size
    &_s
      height 43px
      a&
        line-height @height

.input
  background-color #fff
  outline none
  border none
  height 53px
  padding 0 10px
  font-size input_font_size
  
  &_size
    &_s
      height 43px
  
.link
  text-decoration none
  
.form
  font-size 0
  &_type
    &_search
      display: block