// Mixins.

nl()
  margin 0
  padding 0
  text-indent 0
  list-style none
  list-style-position outside

cf()
  &:before, &:after
    content ""
    display table

  &:after
    clear both

// You can add your own mixins here:

maket(enable = false, img)
  if enable
    body:before
      content ''
      background url('../../maket/' + img + '.jpg') center 0 no-repeat
      position absolute
      height image-size('../../../../dev/maket/' + img + '.jpg')[1]
      width 100%
      top 0
      left 0
      right 0
      z-index -1
      opacity: .7
      
center()
  position: absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

mainContainer()
  max-width widthPage
  width 100%
  margin auto
    
img(name, ext, wh = '')
  
  if wh == 'i'
    urlImg = '../img/' + wh + '-' + name + '.' + ext
    urlLoc = '../img/icon/' + wh + '-' + name + '.' + ext
  else 
    urlImg = '../img/' + name + '.' + ext
    urlLoc = '../img/general/' + name + '.' + ext
    
  background url(urlImg) 0 0 no-repeat
  width image-size(urlLoc)[0]
  height image-size(urlLoc)[1]
  
icon(name, ext)
  wh = 'i'
  .{wh}-{name}
    display inline-block
    img(name, ext, wh)
    
svg(name, width, height = width)
  background url('../img/' + name + '.svg') 0 0 no-repeat
  width width
  height height
    
pattern(name, ext)
  background url('../img/pattern-' + name + '.' + ext) center repeat
  
hoverOpacity(numb = .8)
  transition opacity .3s
  &:hover
    opacity numb
    

fullBg(color = black)
  position relative
  zIndex_base()
  
  &:before
    content ''
    display: block
    background-color color
    zIndex_base(-2)
    position: absolute
    top 0
    left -100%
    right -100%
    bottom 0

zIndex_base(num = 0)
  z-index 1 + num
  
zIndex_content(num = 0)
  z-index 100 + num
  
zIndex_modal(num = 0)
  z-index 200 + num

// Mixin for caching the blocks with the given conditions
media($condition)
  helper($condition)
    unless $media_cache[$condition]
      $media_cache[$condition] = ()
    push($media_cache[$condition], block)

  +helper($condition)
    {selector() + ''}
      {block}

// Function we would use to call all the cached styles
apply_media_cache()
  for $media, $blocks in $media_cache
    $media = unquote($media_aliases[$media] || $media)
    $media = '(%s)' % $media unless match('\(', $media)
    $media = 'only screen and %s' % $media
    @media $media
      for $block in $blocks
        {$block}

// Here would be our main styles, using the `media` mixin
// …

// Here we call all the cached styles