p
  font-size 1.6rem
  color black
  font-weight 400
  font-style: normal
  
.text
  font-size 1.6rem
  color black
  font-weight 400
  font-style: normal
  
  &_size
    &_xs
      font-size fs_xs
    &_s
      font-size fs_s
    &_m
      font-size fs_m
    &_l
      font-size fs_l
    &_xl
      font-size fs_xl
    &_xxl
      font-size fs_xxl
    &_xxxl
      font-size fs_xxxl
      
  &_color
    &_red
      color c_red
      
      &Dark
        color c_redDark
      
    &_pink
      color c_pink 
      
    &_white
      color white
      
  &_underline
    &_solid
      border-bottom 1px solid
    &_dashed
      border-bottom 1px dashed

  &_weight
    &_light
      font-weight 300
      
    &_normal
      font-weight 400
      
    &_semibold
      font-weight 600

    &_bold
      font-weight 700

    &_extrabold
      font-weight 800
      
  &_style
    &_italic
      font-style: italic
      
      