// File for less-vars.
// For example: main colors, paddings and so on.

// Inside width page
ff_p = 'Open Sans', sans-serif

w_m = 1200px


// typography font-size
fs_xs        = 1.4rem
fs_s         = 1.6rem
fs_m         = 2rem
fs_l         = 2.4rem
fs_xl        = 3rem
fs_xxl       = 3.6rem
fs_xxxl      = 4.8rem

c_red           = #d02f30
c_redDark       = #811616
c_pink          = #dc4849

// Define the cache and the aliases
$media_cache = {}
$media_aliases = {
  palm:       '(max-width: 480px)'
  lap:        '(min-width: 481px) and (max-width: 1023px)'
  lap-and-up: '(min-width: 481px)'
  portable:   '(max-width: 1023px)'
  desk:       '(min-width: 1024px)'
  desk-wide:  '(min-width: 1200px)'
  sm:         '(max-width: 1000px)'
  lg:         '(min-width: 1000px) and (max-width: 1599px)'
  lg-up:      '(min-width: 1000px)'
  xxxl:         '(min-width: 2400px)'
  xxl:         '(min-width: 2000px)'
  xl:         '(min-width: 1600px)'
  mw:         '(min-width: 1280px)'
  //vn:         '(min-width: 768px)'
  mh:         '(max-height: 840px)'
  phone:      '(max-width: 1024px)'
  phone-2:      '(min-width: 300px) and (max-width: 480px)'
  pad:        '(max-width: 768px)'
  phone-6:    '(max-width: 375px)'
}