@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fnj2m4');
  src:  url('fonts/icomoon.eot?fnj2m4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fnj2m4') format('truetype'),
    url('fonts/icomoon.woff?fnj2m4') format('woff'),
    url('fonts/icomoon.svg?fnj2m4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user_icon:before {
  content: "\e90c";
  color: #fff;
}
.icon-add:before {
  content: "\e900";
}
.icon-arrow-last-page:before {
  content: "\e901";
  color: #5a5a5a;
}
.icon-arrow-left:before {
  content: "\e902";
  color: #5a5a5a;
}
.icon-arrow-right:before {
  content: "\e903";
  color: #5a5a5a;
}
.icon-dessert:before {
  content: "\e904";
}
.icon-down-arrow:before {
  content: "\e905";
  color: #fff;
}
.icon-first_dish:before {
  content: "\e906";
}
.icon-logo_food:before {
  content: "\e907";
  color: #fff;
}
.icon-salad:before {
  content: "\e908";
}
.icon-shopping-cart:before {
  content: "\e909";
  color: #e85555;
}
.icon-soup:before {
  content: "\e90a";
}
.icon-substract:before {
  content: "\e90b";
}
