mixin weekly
  .weekly
    .weekly__inner
      .weekly__title
        | МЕНЮ НА НЕДЕЛЮ
      .weekly__date
        | 22.05.2017 - 28.05.2017
      .weekly__cont
        .weekly__line(data-day='ПОНЕДЕЛЬНИК')
          .weekly__box
            .weekly__item
              +lunch('type_1')
            .weekly__item
              +lunch('type_2')
            .weekly__item
              +lunch('type_3')

        .weekly__line(data-day='ВТОРНИК')
          .weekly__box
            .weekly__item
              +lunch('type_4')
            .weekly__item
              +lunch('type_1')
            .weekly__item
              +lunch('type_2')

        .weekly__line(data-day='СРЕДА')
          .weekly__box
            .weekly__item
              +lunch('type_3')
            .weekly__item
              +lunch('type_4')

        .weekly__line(data-day='ЧЕТВЕРГ')
          .weekly__box
            .weekly__item
              +lunch('type_1')
            .weekly__item
              +lunch('type_2')
            .weekly__item
              +lunch('type_3')

        .weekly__line(data-day='Пятница')
          .weekly__box
            .weekly__item
              +lunch('type_4')

