.weekly
  display: block
  
  &__inner
    width: 946px;
    margin: 0 auto 82px;
  
  &__title
    font-family: RobotoMedium;
    font-size: 24px;
    color: #000;
    margin-top: 82px;
    
  &__date
    font-family: RobotoRegular;
    font-size: 14px;
    color: #000;
    margin-top: 15px;
    
  &__cont
    margin-top: 73px;
    
  &__line
    box-shadow 0 2px 10px 0 rgba(0,0,0,0.05)
    position relative
    cf()

  &__line:before
    content: ' ' attr(data-day);
    font-family: RobotoMedium;
    font-size: 16px;
    color: #000;
    position: absolute;
    top: 50%
    left:0
    transform:rotate(-90deg)
    height: 120px;
    line-height: 98px
    text-transform: uppercase
    width:120px
    margin-top: -60px;
    text-align: center
    
  &__box
    float: left;
    width: 848px;
    margin-left: 98px;
  
  &__item
    width 848px
    height: 120px;
    .lunch
      width: 100%;
      height: 100%;
    .lunch__image
      width: 263px;
      height: 120px;
    .lunch__title:after
      line-height: 19px;
      float: right
    .lunch__desc
      width: 580px;
      position: relative;
      height: 120px;

    .lunch__group
      float: left;
      width: 200px;
      padding-right: 20px;
      
    .lunch__box
      width: 100%;
      margin-top: 10px;
      
    .lunch__cost
      position: absolute;
      top: 50%
      right: 23px;
      margin-top: -10px;
      text-transform: uppercase

    .lunch__control
      display: none
    
    

  .weekly__line + .weekly__line
    margin-top: 13px;

    