.hero
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #94df2d;
  position: relative;
  overflow hidden
  
  &__image
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 20%;
    z-index: 10;
    width: 90%;
    height: 120%;
    left: 30%;
    bottom: -20%;
    
  &__cont
    position: relative;
    z-index: 11;
    height: calc(100vh - 120px);
    display: table
    width: 100%;

    

  &__text
    font-size: 100px
    font-family: RobotoMedium;
    text-transform: uppercase
    color: #ffffff;
    position: relative;
    text-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    line-height: 110px;
    height: calc(100vh - 120px);
    display: table-cell
    vertical-align: middle

    span
      display: block
      font-size: 134px;


  &__bottom
    position: absolute;
    font-family: RobotoMedium;
    bottom: 50px
    width: 200px;
    color: #ffffff;
    text-transform: uppercase
    font-size: 14px;
    left: 50%;
    margin-left: -100px;
    z-index: 12;

    &-text
      position: relative;
      display: inline-block
      cursor: pointer;

      span
        position: absolute;
        left: 50%;
        margin-left: -6px;
        bottom: -30px;
        font-size: 19px;
        display: block

      span:after
        content: '\e905'
        font-family: 'icon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;



    &-text:hover
        span
          -webkit-animation-name: hvr-wobble-vertical;
          animation-name: hvr-wobble-vertical;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;


@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


   
    


