mixin hero
  .hero
    .hero__image(style='background-image:url("static/img/design/main.png")')
    .layout__inner
      .hero__cont
        .hero__text
          | доставка <span>обедов</span>



      .hero__bottom
        .hero__bottom-text
          | СМОТРИ МЕНЮ НА СЕГОДНЯ
          span


