.round-button
  border-radius 50%
  width: 24px;
  height: 24px;
  background-color: #d8d8d8;
  border none;
  text-align: center;
  padding 0;
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  transition 0.3s;
  outline: none;
  
.round-button:before
  content: '\e90b'

.round-button.plus:before
  content: '\e900'
  
.round-button:hover
  background-color: #e85555
  color: #ffffff;
