doctype 1.1
html(class="no-js" lang="ru")

  head
    meta(charset="utf-8")
    title
    //meta(name="viewport" content="width=1240")
    meta(name="viewport" content="width=device-width, initial-scale=1,user-scalable=0")

    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    link(rel="shortcut icon" type="image/ico" href="static/img/favicon.ico")
    link(rel="icon" type="image/png" href="static/img/favicon.png")
    link(rel="stylesheet", href="static/css/style.css")


  block body

  block script
    script(src="static/js/jquery.js")
    script(src="static/js/slick.min.js")
    script(src="static/js/ticon.js")
    script(src="static/js/jquery.maskedinput.js")
    script(src="static/js/main.js")