.options
  background-color: #fff;
  width: 555px;
  padding: 30px 40px 50px;
  box-shadow 0 0 10px 0 rgba(0,0,0,0.1)
  
  &__title
    font-family: RobotoMedium;
    font-size: 14px;
    color: #000;
    
  &__form
    margin-top: 10px;
    
    .input__this
      width: 100%;
    
    .options__line + .options__line
      margin-top: 23px;

  &__bottom
    margin-top: 48px;
    text-align: center
    
    .button
      width: 160px;