mixin options
  .options
    .options__title
      | НАСТРОЙКИ
    form.options__form
      .options__line
        +input('Текущий пароль', 'password')
      .options__line
        +input('Новый пароль', 'password')
      .options__line
        +input('Повторить новый пароль', 'password')

      .options__bottom
        button.button
          | СОХРАНИТЬ