.detail
  display: block
  
  &__inner
    width: 947px;
    margin: 0 auto 40px;
    
  &__title
    font-family: RobotoMedium;
    font-size: 24px;
    color: #000;
    text-transform: uppercase
    margin-top: 83px;
    
  &__desc
    font-family: RobotoRegular;
    font-size: 14px;
    margin-top: 18px;
    
  &__date:before
    content: 'Дата:'
    font-family: RobotoMedium;
    display: inline-block
    margin-right: 5px;
    text-transform: uppercase

  &__time:before
    content: 'ВРЕМЯ:'
    font-family: RobotoMedium;
    display: inline-block
    margin-right: 5px;
    text-transform: uppercase
    
  &__order
    margin-top: 74px;
    
    &-info
      margin-top: 25px;
    
  &__item
    display: block
    
    .weekly__item
      width: 100%;
      
      .lunch__desc
        width: 680px;
        
        
  &__delivery
    font-family: RobotoMedium;
    font-size: 20px;
    color: #000;
    
  &__delivery:before
    content: 'Доставка:'
    display: inline-block
    margin-right: 4px;
    
  &__delivery:after
    content: 'р'
    display: inline-block
    margin-left: 5px;
    
    
  &__itogo
    font-family: RobotoMedium;
    font-size: 24px;
    color: #000;
    margin-top: 12px;
    
  &__itogo:before
    content: 'Итого к оплате:'
    margin-right: 5px;
    display: inline-block

  &__itogo:after
    content: 'р'
    display: inline-block
    margin-left: 5px;

  &__courier
    font-family: RobotoMedium;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    margin-top: 78px;

  &__map
    margin-top: 20px;

    img
      max-width:100%
        
        
  .detail__item + .detail__item
    margin-top: 13px;

    