mixin detail
  .detail
    .detail__inner
      .detail__title
        | Детали заказа № 01-1234

      .detail__desc
        .detail__date
          | 15.05.2017
        .detail__time
          | 13:03

      .detail__order
        .detail__item
          .weekly__item
            +lunch('type_5')
        .detail__item
          .weekly__item
            +lunch('type_6')


      .detail__order-info
        .detail__delivery
          | 100
        .detail__itogo
          | 1 117 440

      .detail__courier
        | Курьер уже в пути!<br>Ориентировочное время доставки <span class='detail__courier-time'>13:15</span>

      .detail__map
        img(src='static/img/design/map.png')

