.form
  background-color: #fff;
  width: 555px;
  margin: 0 auto;
  padding: 30px 30px 40px;
  box-shadow 0 0 10px 0 rgba(0,0,0,0.1);
  transition 0.3s
  min-height:360px
  
  &__title
    font-size: 16px;
    color: #000;
    text-align: center
    text-transform: uppercase
    font-family: RobotoMedium;
    
    
  &__tab
    margin-top: 15px
    text-align: center
    padding-left: 17px;
    
    &-item
      font-family: RobotoMedium;
      font-size: 14px;
      color: #000;
      text-transform: uppercase
      padding: 8px 15px;
      display: inline-block
      position: relative;
      cursor: pointer;

    &-item:before
      content: ''
      height: 2px;
      left: 50%;
      right: 50%;
      bottom: -2px;
      transition:0.3s
      background-color: #e75555;
      position: absolute;
      
    .form__tab-item + .form__tab-item
      margin-left: 30px;

    &-item.active:before
      left: 0;
      right: 0;

    &-item:hover:before
      left: 0;
      right: 0;
      
  &__item
    margin-top: 37px;
    display: none
    
    .form__line + .form__line
      margin-top: 36px;

  &__item.active
    display: block


  &__line
    display: block
    cf()

    &-time
      text-align: center

    &-sms
      margin-bottom: -12px;

      
      .button__sms
        float: left;
        
        
  &__sms
    float: left;
    margin-left: 32px;
    width: 188px;

    &-text
      font-size: 12px;
      font-family: RobotoRegular;
      color: #000;
      float: left;
      line-height: 23px;
      text-transform: uppercase
      
    &-input
      width: 120px;
      height: 24px;
      border:1px solid #868686
      background-color: transparent;
      padding-left: 15px;
      outline none
      font-family: RobotoRegular;
      font-size: 12px;

    &-right
      float: right;
      width: 120px;

    &-error
      font-size: 9px;
      color: #e75555;
      margin-top: 2px;
    
    
  &__this
    width: 360px;
    margin: 0 auto;
    
  &__bottom
    margin-top: 46px;
    text-align: center
    
    .button
      width: 140px;
      box-shadow 0 0 10px 0 rgba(0,0,0,0.2)
      
      
  &__desc
    font-family: RobotoRegular;
    font-size: 14px;
    color: #000;
    text-align: center
    margin-top: 21px;
    margin-bottom: 37px;
    
  &__more
    font-family: RobotoRegular;
    font-size: 10px;
    color: #868686;
    text-align: center
    margin-top: 40px;
    margin-bottom: -35px;


  &__time
    display: inline-block
    width: 68px;
    font-family: RobotoRegular;
    font-size: 12px;
    color: #000;
    input
      text-align: center
      width: 48px
      background-color: transparent;
      border:1px solid #868686
      height: 24px;
      font-family: RobotoRegular;
      font-size: 12px;
      color: #000;
      outline:none
    
  &__time:first-child:after
    content: ':'
    display: inline-block
    margin-left: 5px;
    margin-right: 5px;












    
  
