mixin form(type)
  if(type == 'type_0')
    .form
      .form__title
        | ОФОРМИТЬ ЗАКАЗ
      .form__tab
        .form__tab-item.active(data-tab='tab_1')
          | ВХОД
        .form__tab-item(data-tab='tab_2')
          | РЕГИСТРАЦИЯ

      .form__item.active(data-tab='tab_1')
        form.form__this
          .form__line
            +input('Номер телефона', 'phone')
          .form__line.error
            +input('Пароль','password')

          .form__bottom
            button.button
              | ПРОДОЛЖИТЬ

      .form__item(data-tab='tab_2')
        form.form__this
          .form__line.error
            +input('Номер телефона', 'phone')
          .form__line.form__line-sms
            button.button__sms
              | Выслать SMS-код
            .form__sms.error
              .form__sms-text
                | SMS-КОД:
              .form__sms-right
                input.form__sms-input
                .form__sms-error
                  | Неверный или пустой код

          .form__line
            +input('Пароль','password')

          .form__bottom
            button.button
              | РЕГИСТРАЦИЯ

  else if( type == 'type_1' )
    .form
      .form__title
        | ОФОРМИТЬ ЗАКАЗ
      .form__desc
        | АДРЕС ДОСТАВКИ
      form.form__this
        .form__line
          +input('Ваш адрес ')
        .form__more
          | Если все верно:
        .form__bottom
          button.button
            | ПРОДОЛЖИТЬ

  else if(type == 'type_2')
    .form
      .form__title
        | ОФОРМИТЬ ЗАКАЗ
      .form__desc
        | УКАЗАТЬ ВРЕМЯ ДОСТАВКИ
      form.form__this
        .form__line.form__line-time
          .form__time.error
            input.form__time-input(placeholder='00')
          .form__time
            input.form__time-input(placeholder='00')
        .form__bottom
          button.button
            | ПРОДОЛЖИТЬ





