.history
  border: 1px solid #d2d2d2
  box-shadow 0 0 10px 0 rgba(0,0,0,0.1);
  
  &__title
    font-family: RobotoMedium;
    font-size: 14px;
    color: #000;
    padding-top: 22px;
    padding-left: 20px;
    padding-bottom: 23px;

  &__cont
    cf()
    
  &__table
    display: block
    cf()

    table
      width: 100%;
      
    th
      font-family: RobotoMedium;
      font-size: 14px;
      color: #000;
      border-top: 1px solid rgba(210,210,210,0.5)
      padding: 14px 19px 17px;
      text-align: left;

    td
      font-family: RobotoRegular
      font-size: 12px;
      color: #000;
      border-top: 1px solid #d2d2d2
      border-bottom: 1px solid #d2d2d2
      padding: 9px 19px 10px;
      text-align: left;
      
    td.history__date
      text-decoration: underline
      color: #434343;


    td.history__status[data-status="work"]:before
      content: 'В работе'
      color: #db0000;

    td.history__status[data-status="end"]:before
      content: 'Завершен'
      color: #21a82a;


.pager
  margin-top: 22px;
  margin-bottom: 16px;
  margin-right: 16px;
  padding: 0 50px;
  position: relative;
  float: right
  span
    display: inline-block;
    width: 20px;
    height: 20px
    text-align: center;
    cursor: pointer;
    background: transparent
    color: #fff;
    color #5a5a5a
    font-family: RobotoMedium;
    font-size: 14px;


  span.active
    color: #000;
    
  .page__control
    font-family: 'icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #5a5a5a;
    font-size: 16px;
    display: inline-block
    position: absolute;
    top: 0;
    cursor: pointer


  .page__first
    transform rotate(180deg)
    left: 10px;
    
  .page__first:before
    content: '\e901'
    
  .page__last
    right: 10px;
    
  .page__last:before
    content: '\e901'
    
  .page__prev
    left: 30px;
    
  .page__prev:before
    content: '\e902'

  .page__next
    right: 30px;

  .page__next:before
    content: '\e903'

  



      
   
      
    
      


