mixin history
  .history
    .history__title
      | ИСТОРИЯ ЗАКАЗОВ
    .history__cont
      .history__table
        table.paginated
          thead
            tr
              th(scope="col" style='width:30%')
                | Дата
              th(scope="col" style='width:40%')
                | Стоимость, р.
              th(scope="col" style='width:30%')
                | Статус
          tbody
            tr.clickable-row(data-href='/detail.html')
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='work')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')

            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='work')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')

            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='work')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')

            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='work')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')

            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='work')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')
            tr
              td.history__date
                | 15.07.2017
              td
                | 1200
              td.history__status(data-status='end')








