.persona
  display: block
  margin-bottom: 85px;
  
  &__inner
    padding-left: 98px;
  
  &__title
    font-family: RobotoMedium;
    font-size: 24px;
    color: #000;
    margin-top: 85px;
    text-transform: uppercase

  &__cont
    margin-top: 29px;
    cf()
    
    
  &__left
    float: left;
    width: 555px;
    
  &__right
    margin-left: 86px;
    margin-top: -8px;
    float: left;
    width: 398px;

    
    
  &__options
    margin-top: 40px;
    

    
    