mixin persona
  .persona
    .layout__inner
      .persona__inner
        .persona__title
          | Личный кабинет
        .persona__cont
          .persona__left
            .persona__history
              +history
            .persona__options
              +options

          .persona__right
            +statham

