.lunch
  display: block
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.05)
  float: left;
  width: 555px;
  height: 240px;
  overflow: hidden
  transition 0.3s;
  cursor: default;
  margin-top: 48px;
  background-color: #fff;
  cf()

  &__image
    width: 263px;
    height: 240px;
    background-size: cover
    background-position: 50%
    float: left;
    
  &__desc
    width: 292px;
    height: 240px;
    float: left;
    padding-top: 8px;
    padding-left: 28px;
    position: relative;

  &__top
    cf()
    
  &__title
    font-family: RobotoMedium;
    font-size: 16px;
    color: #000;
    width: 170px;
    text-transform: uppercase
    float: left;

  &__title:after
    content: ' ' attr(data-desc);
    display: block
    font-family: RobotoRegular;
    color: #979797;
    font-size: 10px;
    text-transform: none


  &__cost
    float: right
    font-family: RobotoMedium;
    font-size: 20px;
    color: #000;
    margin-right: 21px;
    margin-top: 2px;
    
    &-count
      float: left;
      margin-right: 20px;
      
    &-count:after
      content: 'шт.'
      
    &-all
      float: left;
      width: 70px;
      text-align: right
      
    
  &__cost:after
    content: 'р'
    display: inline-block
    margin-left: 5px;
    
    
  &__box
    width: 200px;
    margin-top: 14px;
    
    .lunch__item + .lunch__item
      margin-top: 10px;
    
    
  &__item
    font-family: RobotoRegular;
    font-size: 12px;
    color: #000;
    position: relative;
    padding-left: 30px;
    line-height: 15px;
    
  &__item:before
    font-family: 'icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    top:1px
    font-size: 16px
    
  &__item-hot:before
    content: '\e90a'

  &__item-second:before
    content: '\e906'
    font-size: 15px;

  &__item-salad:before
    content: '\e908'
    font-size: 15px;

  &__item-dessert:before
    content: '\e904'
    font-size: 17px;
    
    
  &__control
    position: absolute;
    bottom: 12px;
    left: 28px;
    cf()
    
    &-text
      font-family: RobotoRegular;
      font-size: 10px;
      color: #000;
      float: left;
      width: 150px;
      
    &-cont
      float: left;
      margin-top: -5px;
      
    &-minus
      float: left;
    
    &-count
      float: left;
      width: 49px;
      text-align: center
      font-family: RobotoRegular;
      font-size: 16px;
      color: #000;
      
    &-plus
      float: left;
      
    


.lunch:hover
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1)

.lunch:first-child
  margin-top: 0;
  
.lunch:nth-child(2)
  margin-top: 0;

.lunch:nth-child(2n)
  margin-left: 28px;