mixin lunch(type)
  .lunch
    if(type == 'type_1')
      .lunch__image(style="background-image:url('static/img/design/item_03.jpg')")
      .lunch__desc
        .lunch__top
          .lunch__title(data-desc='850 гр / 1300 ккал')
            | Обед №1
          .lunch__cost
            | 340
        .lunch__box
          .lunch__item.lunch__item-hot
            | Борщ домашний
          .lunch__item.lunch__item-second
            | Курица запеченая <br>с гарниром из картофеля
          .lunch__item.lunch__item-salad
            | Салат «Мужские грезы»
          .lunch__item.lunch__item-dessert
            | Десерт «Торт Три Шоколада»
        .lunch__control
          .lunch__control-text
            | Выбрать количество порций
          .lunch__control-cont
            .lunch__control-minus
              +round-button('minus')
            .lunch__control-count
              | 0
            .lunch__control-plus
              +round-button('plus')

    else if(type == 'type_2')
      .lunch__image(style="background-image:url('static/img/design/item_02.jpg')")
      .lunch__desc
        .lunch__top
          .lunch__title(data-desc='1000 гр / 1300 ккал')
            | Обед №2
          .lunch__cost
            | 370

        .lunch__box
          .lunch__item.lunch__item-hot
            | Борщ домашний
          .lunch__item.lunch__item-second
            | Курица запеченая <br>с гарниром из картофеля
          .lunch__item.lunch__item-salad
            | Салат «Мужские грезы»
          .lunch__item.lunch__item-dessert
            | Десерт «Торт Три Шоколада»

        .lunch__control
          .lunch__control-text
            | Выбрать количество порций
          .lunch__control-cont
            .lunch__control-minus
              +round-button('minus')
            .lunch__control-count
              | 0
            .lunch__control-plus
              +round-button('plus')

    else if(type == 'type_3')
      .lunch__image(style="background-image:url('static/img/design/item_01.jpg')")
      .lunch__desc
        .lunch__top
          .lunch__title(data-desc='1000 гр / 1300 ккал')
            | Обед №3
          .lunch__cost
            | 1340

        .lunch__box
          .lunch__item.lunch__item-hot
            | Борщ домашний
          .lunch__item.lunch__item-second
            | Курица запеченая <br>с гарниром из картофеля
          .lunch__item.lunch__item-salad
            | Салат «Мужские грезы»
          .lunch__item.lunch__item-dessert
            | Десерт «Торт Три Шоколада»

        .lunch__control
          .lunch__control-text
            | Выбрать количество порций
          .lunch__control-cont
            .lunch__control-minus
              +round-button('minus')
            .lunch__control-count
              | 0
            .lunch__control-plus
              +round-button('plus')


    else if(type == 'type_4')
      .lunch__image(style="background-image:url('static/img/design/item_04.jpg')")
      .lunch__desc
        .lunch__top
          .lunch__title(data-desc='1000 гр / 1300 ккал')
            | Обед №4
          .lunch__cost
            | 451

        .lunch__box
          .lunch__item.lunch__item-hot
            | Борщ домашний
          .lunch__item.lunch__item-second
            | Курица запеченая <br>с гарниром из картофеля
          .lunch__item.lunch__item-salad
            | Салат «Мужские грезы»
          .lunch__item.lunch__item-dessert
            | Десерт «Торт Три Шоколада»

        .lunch__control
          .lunch__control-text
            | Выбрать количество порций
          .lunch__control-cont
            .lunch__control-minus
              +round-button('minus')
            .lunch__control-count
              | 0
            .lunch__control-plus
              +round-button('plus')


    else if(type == 'type_5')
      .lunch__image(style="background-image:url('static/img/design/item_04.jpg')")
      .lunch__desc
        .lunch__top
          .lunch__title(data-desc='1000 гр / 1300 ккал')
            | Обед №4
          .lunch__cost
            .lunch__cost-count
              | 100
            .lunch__cost-all
              | 11170

        .lunch__box
          .lunch__item.lunch__item-hot
            | Борщ домашний
          .lunch__item.lunch__item-second
            | Курица запеченая <br>с гарниром из картофеля
          .lunch__item.lunch__item-salad
            | Салат «Мужские грезы»
          .lunch__item.lunch__item-dessert
            | Десерт «Торт Три Шоколада»

        .lunch__control
          .lunch__control-text
            | Выбрать количество порций
          .lunch__control-cont
            .lunch__control-minus
              +round-button('minus')
            .lunch__control-count
              | 0
            .lunch__control-plus
              +round-button('plus')

    else if(type == 'type_6')
      .lunch__image(style="background-image:url('static/img/design/item_03.jpg')")
      .lunch__desc
        .lunch__top
          .lunch__title(data-desc='1000 гр / 1300 ккал')
            | Обед №1
          .lunch__cost
            .lunch__cost-count
              | 1000
            .lunch__cost-all
              | 110170

        .lunch__box
          .lunch__item.lunch__item-hot
            | Борщ домашний
          .lunch__item.lunch__item-second
            | Курица запеченая <br>с гарниром из картофеля
          .lunch__item.lunch__item-salad
            | Салат «Мужские грезы»
          .lunch__item.lunch__item-dessert
            | Десерт «Торт Три Шоколада»

        .lunch__control
          .lunch__control-text
            | Выбрать количество порций
          .lunch__control-cont
            .lunch__control-minus
              +round-button('minus')
            .lunch__control-count
              | 0
            .lunch__control-plus
              +round-button('plus')



